.section-title{
  position:relative;
  height:30px;
  width:100%;
  background:silver;
  overflow:hidden;
  text-align: center;
}
.section-title::before{
  content:"\0020";
  display: inline-block;
  width:30px;
  height:1px;
  position:relative;
  background: black;
  top:-5px;
  box-shadow: 0  0.5px 0.1px 0.2px rgba(100,100,100,0.5);
}
.section-title::after{
  content:"\0020";
  display: inline-block;
  width:30px;
  height:1px;
  position:relative;
  background: black;
  top:-5px;
  box-shadow: 0  0.5px 0.1px 0.2px rgba(100,100,100,0.5);
}
.article-header-container{
   position:relative;
   border-bottom: 2px red solid;
}
.article-header{
   position:relative;
   top:0.38em;
   background:white;
   padding-right:5px;
}
.slider-tab{
    list-style: none;
    margin: 0;
    padding: 0;
    background: RGBA(100, 100, 100, 0.3);
}
.slider-tab li{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 30px;
    vertical-align: middle;
    height:30px;
}
.slider-tab li.active{
    color: white;
    background: RGB(51, 51, 51);
}
