.video-box{
  position:relative;
  margin-bottom:10px;
  overflow:hidden;
  &__title{}
  &__icon{
    float:left;
    margin-right:10px;
    width:138px;
    height:88px;
  }
  &__btn-play{
    position:absolute;
    width:20px;
    height:20px;
    background-image:url("../../public/img/video_icon_pink.png");
    background-size:20px 20px;
    top:65px;
    left:3px;
    cursor:pointer;
  }
}
